html {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 15px;
}

a:hover {
    color: red;
}

body {
    border: none;
    padding: 0;
    margin: 0;
}

navbar {
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.logo {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 20vw;
}

.links {
    height: 70px;
    justify-content: right;
    padding-top: 30px;
    padding-right: 20vw;
    color: #F9FAF8;
}

.intro_container {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20vw;
    padding-right:20vw;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.intro_text {
    flex-direction: column;
    width: 450px;
    color: #F9FAF8;
    
}

.intro_text>h3 {
    font-size: 48px;
    font-weight: extra-bold;
}
.intro_text>p {
    font-size: 20px;
}

.intro_text>button {
    width: 10vw;
    height: 3vh;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
}

.intro_img {
    display: flex;
    justify-content: right;
    max-width: 45vw;
    max-height: 20vh;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.sectionTwo {
    background-color: #E5E7EB;
}

.sectionThree {
    background-color: #3882F6;
    margin: 5%;
}
